<div class="m-32 drop-shadow-lg">
<p style="color: green"><%= notice %></p>

<h1 class="mb-3 text-3xl font-bold">Books</h1>


<%= form_with(url: books_path, method: "GET", data: {controller: "search-form", turbo_frame: "books", turbo_action: "advance"}) do |form| %>

  <%= form.label :query, "Search by book name:", class: "block mb-2" %>
  <div class="flex space-x-3">
    <%= form.text_field :query, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none", data: {action: "input->search-form#search"} %>

    <%= form.submit 'Search', class: "px-4 py-3 font-medium
  bg-cyan-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
  </div>
<% end %>

<!-- render new partial here -->
<div class="my-6">
  <%= render "books", books: @books %>
</div>

<%= link_to "See All Books", books_path, class: "px-4 py-3 font-medium bg-cyan-300 text-neutal-900 rounded inline-flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>

<%= link_to "New book", new_book_path, class: "px-4 py-3 font-medium bg-cyan-300 text-neutal-900 rounded inline-flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
</div>
